body {
  background-color: #0c0c0c !important;
}

html,
body {
  height: 100vh;
}

/**
** Flex Wrapper
**/
@media only screen and (min-width: 1025px) {
  .main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
}

.background-image {
  background-image: url("");
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
